h2{
	color:blue;
}
p{
	color: rgb(0,0,102);
}
#menu {
	text-align: center;
	background-color: #EDEDED;
}
#menu ul li {
	padding: 2px 10px;
	display: inline-block;
	background-color:#EDEDED;
	border-bottom:3px solid #EDEDED;
}
#menu ul li a{
	color: rgb(0,0,102);
}
#rodape{
	padding: 2px 10px;
    background-color:#EDEDED;
	border-bottom:3px solid #EDEDED;
	text-align: center;
            }